* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --primary-color: rgb(28, 28, 28);
  --secondary-color: rgb(230, 230, 230);

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
}

main {
  height: 100%;
  width: 100%;
  padding: var(--spacing-sm);
  background: var(--primary-color);
  color: var(--secondary-color);
}
