* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background: var(--bg-primary-color);
  color: var(--text-primary-color);
}

:root {
  //bg colors
  --bg-primary-color: rgb(28, 28, 28);

  //text colors
  --text-primary-color: rgb(233, 233, 233);
  --text-secondary-color: rgb(29, 173, 0);

  //spacing
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;

  //border radius
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --border-radius-xl: 24px;

  //border
  --border-primary-color: rgb(50, 50, 50);
}

main {
  section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-lg);
   
    .infos {
      display: flex;
      justify-content: space-between;
      margin-bottom: var(--spacing-lg);
      .info {
        border: 2px solid var(--border-primary-color);
        padding: var(--spacing-sm) var(--spacing-md);
        border-radius: var(--border-radius-md);
      }
    }
    .board{
      flex-grow: 1;
      border: 2px solid var(--border-primary-color);
      border-radius: var(--border-radius-sm);
      display: grid;
      grid-template-columns: repeat(auto-fill , minmaX(30px, 1fr));
      grid-template-rows: repeat(auto-fill , minmaX(30px, 1fr));
      

      .box{
        height: 30px;
        width: 30px;
        border: 1px solid var(--border-primary-color);
      }
      
    }
  }
}
